/**
 * @name Touhou Theme
 * @author isu
 * @version 2
 * @description Transparent and fully customizable Touhou theme.
 * @userID 214119363987374082
 */

@import url("https://raw.githack.com/isuwu/touhou-dsc-theme/master/main.css");
@import url("https://www.themonster.xyz/styles/google-fonts.css");

/* @import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css'); */
/* optional - remove the comment marks to use */

/* -------------------------------------------- SETTINGS -------------------------------------------- */

:root{

		       /* ----------------------- Colors ----------------------- */


		                   /* ------------- Accent ------------- */

	--main-color: #2780e6; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
	--hover-color: #1e63b3; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
	--success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
	--danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */


		                      /* ------------- Status ------------- */

	--online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
	--idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
	--dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
	--streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
	--offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */



		        /* ----------------------- General----------------------- */


	--HSL-server-icon-size: 42px; /*changes the size of the server icons (when horizontal server list is on)*/
	--HSL-server-spacing: 8px; /*what says on the tin*/

	--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; /* main font for app (font must be installed) [default: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif] */
	--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
	--server-columns: 1; /* amount of server list columns [default: 1] */
	--channels-width: 220px; /* channel list width (240px for Discord default) [default: 220px] */
	--members-width: 230px; /* member list width [default: 240px] */
	--members-color: rgba("0, 0, 0, 0.0")
	--avatar-roundness: 50%; /* avatar roundness (0% for squares, 50% for circles) [default: 50%] */




		     /* ----------------------- Background ----------------------- */

	--background-shading: 100%; /* app background shading (0 for complete smoothness) [default: 100%] */
	--background-overlay: rgba("0, 0, 0, 0.6"); /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
	--background-image: url("https://just.go-outsi.de/qkzhXm.jpeg") /*what says on the tin*/
	--background-position: center; /* app background position [default: center] */
	--background-size: cover; /* app background size [default: cover] */



			          /* ------------- Extra ------------- */

	--background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
	--background-attachment: fixed; /* app background attachment [default: fixed] */
	--background-brightness: 100%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
	--background-contrast: 100%; /* app background contrast [default: 100%] */
	--background-saturation: 100%; /* app background saturation [default: 100%] */
	--background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
	--background-grayscale: 0%; /* app background grayscale ( 0 - 100%) [default: 0%] */
	--background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
	--background-blur: 0px; /* app background blur [default: 0px] */


	

		/* ------------------------------------ Extras ------------------------------------ */

       --bd-blue: var(--main-color); /* betterdiscord main color [default: var(--main-color)] */
       --bd-blue-hover: var(--hover-color); /* betterdiscord hover color [default: var(--hover-color)] */
       --bd-blue-active: var(--hover-color); /* betterdiscord active color [default: var(--hover-color)] */

}

/* -------------------------------------------- PLEASE DONT TOUCH UNDER HERE -------------------------------------------- */

:root{--metadata-3: none;}

.members-1998pB>div {
  background-color: transparent;
}

